body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #925eb1;
}

.container{
    width: 100%;
    position: relative;
    max-width: 1140px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.header-title {
    text-align: center;
    color: #ffffff;
    font-size: 100px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 50%;
    margin: auto;
}

.buttons-wrapper{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.btn {
    width: 130px;
    height: 130px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.btn:focus {
    border: 3px solid #000;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.btn.blue{
    background-color: #5097d6;
    color: #5097d6;
}

.btn.light-blue{
    background-color: #add8e6;
    color: #add8e6;
}

.btn.green{
    background-color: #64c87a;
    color: #64c87a;
}

.btn.orange{
    background-color: #e79f3c;
    color: #e79f3c;
}

.btn.red{
    color: #d65745;
    background-color: #d65745;
}

.btn.violet{
    color: #925eb1;
    background-color: #925eb1;
}